.container{style: "padding-top: 5%"}
  .box
    %center
      %h2 Iniciar Sesión
    %hr/
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field.form-group
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control"
      .field.form-group
        = f.label :password
        %br/
        = f.password_field :password, autocomplete: "current-password", class:"form-control"
      - if devise_mapping.rememberable?
        .field.form-group
          = f.check_box :remember_me
          = f.label :remember_me
      .actions
        .columns
          .column{style: "text-align-last: right;"}
            = f.submit "Log in", class:"btn btn-success"
        
          = render "devise/shared/links"


