%nav.navbar{"aria-label" => "main navigation", :role => "navigation"}
  .navbar-brand
    %a.navbar-item{:href => "https://bulma.io"}
      %img{:height => "28", :src => "https://bulma.io/images/bulma-logo.png", :width => "112"}/
    %a.navbar-burger.burger{"aria-expanded" => "false", "aria-label" => "menu", "data-target" => "navbarShop", :role => "button"}
      %span{"aria-hidden" => "true"}
      %span{"aria-hidden" => "true"}
      %span{"aria-hidden" => "true"}
  #navbarShop.navbar-menu
    .navbar-start
      = link_to root_path, class:"navbar-item" do
        Home
      = link_to about_path, class:"navbar-item" do
        Acerca de Nosotros
      
      .navbar-item.has-dropdown.is-hoverable
        %a.navbar-link
          Ver más
        .navbar-dropdown
          = link_to "",  class:"navbar-item" do
            Ordenes
          = link_to "",  class:"navbar-item" do
            Descuentos
          = link_to carrito_path, class:"navbar-item" do
            %i
            Mi Carrito
            (
            = @shopping_cart.products.count
            )
    .navbar-end
      = link_to('Cerrar Sesión', destroy_user_session_path, method: :delete, class:"navbar-item")





      