%nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-success
  = link_to root_path, class:"navbar-item" do
    %img{:height => "28", :src => "https://bulma.io/images/bulma-logo.png", :width => "112"}/
  %button.navbar-toggler{"aria-controls" => "navbarCollapse", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarCollapse", "data-toggle" => "collapse", type: "button"}
    %span.navbar-toggler-icon
  #navbarCollapse.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item
        = link_to root_path, class:"nav-link" do
          Home
          %span.sr-only (current)
      %li.nav-item
        = link_to about_path, class:"nav-link" do
          Acerca de Nosotros
      %li.nav-item.dropdown
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"}
          Ver mas
        .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
          = link_to ordenes_path, class:"dropdown-item"   do
            Ordenes
          = link_to "", class:"dropdown-item"   do
            Ofertas
          = link_to "",class:"dropdown-item"   do
            Descuentos
          = link_to carrito_path,class:"dropdown-item" do
            %i
            Mi Carrito
            (
            = @shopping_cart.products.count
            )
    .navbar-end
      = link_to('Crear Cuenta', new_user_registration_path, class:"navbar-item")
      = link_to('Iniciar Sesión', new_user_session_path, class:"navbar-item")
