-# %nav.navbar.navbar-expand-lg.navbar-light.bg-light
-#   %button.navbar-toggler{"aria-controls" => "navbarTogglerDemo01", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarTogglerDemo01", "data-toggle" => "collapse", type: "button"}
-#     %span.navbar-toggler-icon
-#   #navbarTogglerDemo01.collapse.navbar-collapse
-#     %a.navbar-brand{href: "#"} Hidden brand
-#     %ul.navbar-nav.mr-auto.mt-2.mt-lg-0
-#       %li.nav-item.active
-#         %a.nav-link{href: "#"}
-#           Home
-#           %span.sr-only (current)
-#       %li.nav-item
-#         %a.nav-link{href: "#"} Link
-#       %li.nav-item
-#         %a.nav-link.disabled{"aria-disabled" => "true", href: "#", tabindex: "-1"} Disabled
-#     %form.form-inline.my-2.my-lg-0
-#       %input.form-control.mr-sm-2{"aria-label" => "Search", placeholder: "Search", type: "search"}/
-#       %button.btn.btn-outline-success.my-2.my-sm-0{type: "submit"} Search
%nav.navbar{"aria-label" => "main navigation", :role => "navigation"}
  .navbar-brand
    %a.navbar-item{:href => "https://bulma.io"}
      %img{:height => "28", :src => "https://bulma.io/images/bulma-logo.png", :width => "112"}/
    %a.navbar-burger.burger{"aria-expanded" => "false", "aria-label" => "menu", "data-target" => "navbarShop", :role => "button"}
      %span{"aria-hidden" => "true"}
      %span{"aria-hidden" => "true"}
      %span{"aria-hidden" => "true"}
  #navbarShop.navbar-menu
    .navbar-start
      = link_to root_path, class:"navbar-item" do
        Home
      = link_to about_path, class:"navbar-item" do
        Acerca de Nosotros
      .navbar-item.has-dropdown.is-hoverable
        %a.navbar-link
          Ver más
        .navbar-dropdown
          = link_to "",  class:"navbar-item" do
            Ofertas
          = link_to "",  class:"navbar-item" do
            Descuentos
          = link_to carrito_path, class:"navbar-item" do
            %i
            Mi Carrito
            (
            = @shopping_cart.products.count
            )
          %hr.navbar-divider/
          %a.navbar-item
            Report an issue
    .navbar-end
      = link_to('Crear Cuenta', new_user_registration_path, class:"navbar-item")
      = link_to('Iniciar Sesión', new_user_session_path, class:"navbar-item")
