<!-- <div style="<%="display:none" if alert.nil? && notice.nil?%>">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div> -->
<% unless flash.empty? %>
  <script type="text/javascript">
    <% flash.each do |key, value| %>
      <% type = key.to_s.gsub('alert','error').gsub('notice','success') %>
      toastr['<%= type %>']('<%= value %>')
    <% end %>
  </script>
<% end %>