<!DOCTYPE html>
<html>
  <head>
    <title>ECommerce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div style="<%="display:none" if alert.nil? && notice.nil?%>">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
      <%-if user_signed_in?%>
        <%= render  "components/Navbar/Nav" %>      
      <%-else%>
        <%= render  "components/Navbar/UnNav" %>
      <%end%>
    <%= yield %>
  </body>
</html>
