<!DOCTYPE html>
<html>
  <head>
    <title>ECommerce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render  "components/toast/toast" %>
      <%-if user_signed_in?%>
        <%= render  "components/Navbar/Nav" %>      
      <%-else%>
        <%= render  "components/Navbar/UnNav" %>
      <%end%>
    <div >
      <%= yield %>      
    </div>
  </body>
</html>
