<!DOCTYPE html>
<html>
  <head>
    <title>ECommerce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render  "components/toast/toast" %>
      <%-if user_signed_in?%>
        <%= render  "components/Navbar/Nav" %>      
      <%-else%>
        <%= render  "components/Navbar/UnNav" %>
      <%end%>
   
    



    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/navbar-fixed/">



    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>



<main role="main" class="container">
  <div class="jumbotron" style="background:#fff">
      <%= yield %>      
  </div>
</main>
  <%= render partial: 'components/Footer/index'%>


  </body>
</html>
